<%= render partial: "navbar" %>

<div class="container">
  <div class="row justify-content-end">
    <div class="col-4">
    <p id="notice"><%= notice %></p>  
      <%= form_tag search_store_products_path([@store.id]), method: :get, class: "form-inline my-2 my-lg-0", id:"search-form", role: "search" do %>
        <p>
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder:"Ex: Relógio" %>
            <%= submit_tag "Buscar", name: nil, class: "btn btn-outline-success my-2 my-sm-0" %>
        </p>
      <% end %>
   </div>
 </div>

  <section class="section products">  
      <div class="row align-items-start products-list" >
        <%= render @store.products %>   
      </div>  
  </section>
</div>



